@charset "UTF-8";

body {
	color: white;
	background-color: #230142;
	font-family: arial;
	text-align: left;
}
.cuerpo{
	color: white;
	text-align: left;
}

.tipo {
	border: 7px inset #1A0044;
}

select{
	width: 300px;
	text-align: center;
	cursor: pointer;
	color: black;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	border-radius: 29px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background-image: linear-gradient(to right, rgb(42, 11, 48) 0%,
		rgb(70, 0, 162) 50%, #00ffff50720100%);
	border: 9px inset rgb(60, 2, 57);
}

.button {
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	border-radius: 29px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background-image: linear-gradient(to right, rgb(42, 11, 48) 0%,
		rgb(70, 0, 162) 50%, rgb(44, 7, 86) 100%);
	width: 250px;
	border: 9px inset rgb(60, 2, 57);
}
option {

	text-align: center;
	cursor: pointer;
	color: black;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	border-radius: 29px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background-image: linear-gradient(to right, rgb(42, 11, 48) 0%,
		rgb(70, 0, 162) 50%, rgb(44, 7, 86) 100%);
	border: 9px inset rgb(60, 2, 57);
}

.boton:hover {
	background: #2A0B30;
}
.boton:active {
	background: #2C0756;
}

.div {
	cursor: pointer;
	text-align: center;
	color:white;
}

header {
	font-weight: bolder;
	border: white 2px solid;
	font-family: verdana;
	background-color : #9dff9d ;
	text-align: center;
	border-radius: 10px;
	height: 30%;
	width: 100%
}

table {
	color: black;
	font-weight: bold;
	border: white 2px solid;
	background-color : #d7ffd7 ;
	position:absolute;
	border-radius: 10px;
	text-align: center;
	border-color: green;
	width: 98%;
}
